.aboutPage{
    background-color: #f9fafb;
}
.whoWeAre{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.whoWeAre .left{
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 16px;
}
.whoWeAre .left h2{
    font-size: 32px;
    font-weight: 500px;
    color: #111827;
}
.whoWeAre .left p{
    font-size: 16px;
    color: #6b7280;
}
.whoWeAre .right{
    padding: 52px;
}
.whoWeAre .right img{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: 1px solid grey;
}
.aboutWCU{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px;
    gap: 32px;
}
.aboutWCU .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.aboutWCU .head h1{
    font-size: 36px;
    font-weight: bold;
    color: #111827;
}
.aboutWCU .head p{
    font-size: 18px;
    color: #6b7280;
}
.wcuRow{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.wcuBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: white;
}
.wcuBox h2{
    font-size: 56px;
}
.wcuBox h5{
    font-size: 22px;
    font-weight: 600;
    color: #1f2937;
}
.wcuBox p{
    font-size: 16px;
    color: #4b5563;
}